name: CI - Retrain MLflow Project

on:
  workflow_dispatch:
  push:
    paths:
      - "MLProject/**"
      - ".github/workflows/**"

jobs:
  train:
    runs-on: ubuntu-latest
    env:
      MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas numpy scikit-learn

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager local
